.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ffffff;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    color:  #ff0099
}