body {
  font-family: 'Open Sans', sans-serif;
  background-color: #9013FE;
}

h1 {
  color: white;
  font-size: 300%;
}

h2 {
  color: white;
  font-size: 150%;
  padding-bottom: 20px;
}

.button {
  background-color: #9013FE;
  color: white;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  width: 120px;
  padding: 15px 00px;
  margin: 10px;
  font-size: 16px;
  outline:none;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover {
  background-color:white;
  color: #9013FE;
}

.button:active{
  background-color:white;
  color: #9013FE;
}

#section {
  padding: 0px; 
  text-align:center;
  padding-top: 200px;

}